* { box-sizing: border-box }

body
{
    font-family: Montserrat;
    margin: 0;
    background: #222;
    color: white;
}

.colors
{
    display: flex;
    flex-wrap: wrap;
}

.color
{
    width: 5%;
    padding-bottom: 5%;
}

header
{
    display: table;
    width: 100%;
    padding: 0 0 0 20px;
    font-size: 2.4rem;

    h1
    {
        display: table-cell;
        width: 70%;
        margin: auto 0;
        padding: 0.6em 0;
        line-height: 0.4;
    }

    strong
    {
        display: block;
    }

    span
    {
        font-size: 0.3em;
        font-weight: 400;
    }

    a
    {
        display: table-cell;
        width: 30%;
        background: #181818;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }
}

footer
{
    padding: 5% 0;
    text-align: center;
}
