* { box-sizing: border-box; font-family: Montserrat; text-align: center; }
body { margin: 0; background: #222; color: white; }
.colors { overflow: hidden; }
.color { float: left; width: 10%; padding-bottom: 10%; }