* { box-sizing: border-box }

body
{
    font-family: Montserrat;
    margin: 0 auto;
    background: rgb(30,30,30);
    color: white;
}

header,
footer
{
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

header
{
    top: 0;
    background: linear-gradient(to top, rgba(30,30,30,0.9) 0%, rgba(30,30,30,1) 100%);
    font-size: 2rem;

    h1
    {
        margin: 1em 0 1em 0;
        line-height: 0.4;
        text-align: center;
    }

    strong
    {
        display: block;
    }

    span
    {
        font-size: 0.3em;
        font-weight: 400;
    }
}

.color-wrap
{
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    transform: translateZ(0);
}

.colors
{
    display: flex;
    flex-wrap: wrap;

    &.back
    {
        filter: blur(50px);
    }

    &.front
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
    }
}

.color
{
    width: 10%;
    padding-bottom: 10%;
}

footer
{
    bottom: 0;
    padding: 3vh 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(30,30,30,0.9) 0%, rgba(30,30,30,1) 100%);
    text-align: center;
    font-size: 1.4rem;

    .wrap
    {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 660px;
        margin: 0 auto;
    }

    a
    {
        text-decoration: none;
    }

    .try
    {
        text-transform: uppercase;
        color: white;
    }
}



@media ( max-width: 600px )
{
    header
    {
        font-size: 1.6rem;
    }

    .color
    {
        width: 20%;
        padding-bottom: 20%;
    }
}

@media ( max-width: 660px )
{
    footer
    {
        font-size: 1rem;

        .wrap
        {
            display: block;
        }

        a
        {
            display: inherit;
            padding: 1vh 0;
        }
    }
}
